@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

#header{
    margin-left: 0.8em;
    margin-top: 1em ;
    color: #fff;
    font-weight: 500;
    font-family: "Lilita One", sans-serif;
    font-size: 25px;
}
body{
    background-color: purple;
}
.container{
    border: 0.3em white solid ;
}